@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$body-ff: 'Roboto', sans-serif;

$body-color: #333333;
$primary-color: #fead26;
$primary-light: #fcc455;
$primary-dark: #ff9000;
$secondary-color: #fff;


$border-width: 1px;

$body-bg: $secondary-color;